@import "bootstrap";

/* mixins */
@mixin box_sizing {
	-mox-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* variables */
$grayMediumLight: #eaeaea;
$grayDarker: #dddddd;
$grayLighter: #aaaaaa;

/* universal */ 

html {
  overflow-y: scroll;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* Fonts */
h1, h2, h3, h4, h5, h6{
	line-height: 1;
  margin-top: 0px;
}

h1 {
	font-size: 3em;
	margin-bottom: 30px;
	text-align: center;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */
.navbar-default .navbar-nav > li > a {
    padding: 15px 10px 10px 10px;
    font-size: 15px;
    & > .glyphicon {
      margin-right: 3px;
    }
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > li > a:hover {
    color: #266cc8;
    background-color: #f8f8f8;
    border-bottom: #266cc8 5px solid;
}

/* footer */

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid $grayMediumLight;
	color: #999;

  	a {
  		color: $gray;
  	}

  	a :hover {
	  	color: $grayDarker;
	}

	small {
	  	float: left;
	}

	ul {
	  	float: right;
	  	list-style: none;

		li {
	  		float: left;
	  		margin-left: 10px;
		}
	}
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    & :first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.6em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
    }
  }
}

.stats {
  overflow: auto;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $grayLighter;
    color: gray;
    & :first-child {
      padding-left: 0;
      border: 0;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
    height: 30px;
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
  height: 80px;
}

/* Forms */

input, textarea, select, .uneditable-input, .form-control {
	border: 1px solid #bbb;
	border-radius: 0px;
	padding: 10px;
	height: auto;
	margin-bottom: 15px;
	box-shadow: 0px 0px 3px #ccc inset;
	@include box_sizing;
}

.input-group, .btn {
  margin-bottom: 20px;
}

#error_explanation {
	color: #f00;
	ul {
		list-style: none;
		margin: 0 0 18px 0;
	}
}

.field_with_errors {
	@extend .control-group;
	@extend .has-error;
}

/* users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
  }
}

.users > a.list-group-item {
   height: 70px;
   img.gravatar {
     height: 50px;
   }
}

/* Debug */
.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
}

/* microposts */
.microposts {
  list-style: none;
  padding-left: 0px;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
    & > a > .gravatar {
      height: 52px;
    }
  }
}
.content {
  display: block;
}
.timestamp {
  color: $grayLighter;
}
.gravatar {
  float: left;
  margin-right: 10px;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}